$grey-b: #2a2b30;
$greyb-b: #54565f;
$greft-b: #868893;
$orange-b: #ffdd3c;

footer{
    width: 100%;
    background-color: $grey-b;
    border-top: 2px solid $greyb-b;
    z-index: 99;
    .foot{
        display: flex;
        flex-direction: column;
        gap: 100px;
        padding: 100px 0;
        .f-top{
            display: flex;
            justify-content: space-between;
            .line{
                color: $greft-b;
                line-height: 50px;
                h1{
                    font-size: 1.3rem;
                    margin-bottom: 20px;
                    font-weight: 400;
                }
                h2{
                    font-weight: 500; 
                }
            }
        }
        .f-center{
            display: flex; 
            justify-content: space-between;
            .fc-left{
                width: 50%;
                line-height: 35px;
                h1{
                    font-size: 1.5rem;
                    color: white;
                    margin-bottom: 40px;
                }
                .cards{
                    display: flex;
                    gap: 20px;
                    font-size: 4rem;
                    color: white;
                }
            }
            .fc-right{
                color: $greft-b;
                h1{
                    font-size: 1.6rem;
                    font-weight: 500;
                    margin-bottom: 20px;
                }
                p{
                    font-size: 1.2rem;
                }
            }
        }
        .f-bottom{
            text-align: center;
            color: $greft-b !important;
            .apps{
                margin-bottom: 50px;
                display: flex;
                justify-content: center;
                gap: 20px;
                font-size: 1.5rem;
                .a-circle{
                    width: 60px;
                    height: 60px;
                    padding: 15px;
                    border-radius: 50%;
                    color: white;
                    background-color: $greyb-b;
                    
                }
            }
            a{
                color: $greft-b !important;
                font-size: 1.2rem;
                
            }
            b{
                margin-top: 20px;
                font-size: 1.3rem;
            }
            h1{
                margin-top: 100px;
                font-size: 1.3rem;
                line-height: 30px;
                font-weight: 400;
                text-align: left;
            }
        }
    }
}